<html>
<%-include('partials/head.html');%>

	<body>
		<header>
			<%-include('partials/navegacion.html');%>
		</header>
<section id="seccion">
	<br><section id="sec">
				<h3>Agregar</h3>
				<form action="/contactos/nuevo" method="post" class="table table-hover" id="ing">
					<div >
						<div>
							<label for="nombre">Nombre</label>
							<input type="text" name="nombre" id="nombre">
						</div>
						<div>
							<label for="domicilio">Domicilio</label>
							<input type="text" name="domicilio" id="domicilio">
						</div>
						<div>
							<label for="telefono">Telefono</label>
							<input type="text" name="telefono" id="telefono" >
						</div>
					</div>
					<div>
						<button type="submit" class="btn btn-primary mt-3" id="agg">Guardar</button>

					</div>
											<br>
				</form>
				<br>	
		
		<h3 id="th3">Modificar Contacto</h3><section id="ing">
		<form action="/contactos/id" method="get" class="col-md-4">
			<label for="idContactos" >Contacto ID:</label>
			<input type="text" id="idContactos" name="idContactos">
			<button type="submit" class="btn btn-primary mt-3" id="bus">Buscar</button>
		</form>
		</div>
		<% if ( contacto ) { %>
			<div>
				
				<form action="/contactos/id" method="post" >
					<input type="hidden" name="idContactos" id="idContactos" value="<%=contacto.idContactos%>">
					<label for="nombre">Nombre:</label>
					<input type="text" id="nombre" name="nombre" value="<%=contacto.nombre%>">
					<label for="domicilio">Domicilio:</label>
					<input type="text" id="domicilio" name="domicilio" value="<%=contacto.domicilio%>">
					<label for="telefono">Telefono:</label>
					<input type="text" id="telefono" name="telefono" value="<%=contacto.telefono%>">
					<button type="submit" class="btn btn-primary mt-3" id="agg">Guardar</button>
				</form></section>

				<form action="/contactos/id/borrar" method="post">
					<input type="hidden" name="idContactos" id="idContactos" value="<%=contacto.idContactos%>">
					<button type="submit" class="btn btn-danger mb-2" id="elim">Eliminar</button>
				</form>
			</div>
			<% } %>

			<h3>Contactos</h3>
			<table class="table table-hover" id="tbl">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nombre</th>
						<th>Domicilio</th>
						<th>Telefono</th>
					</tr>
				</thead>
				<% if (contactos) { %>
					<tbody>
						<% for(var i=0; i < contactos.length; i++ ) { %>
							<tr>
								<td>
									<%= contactos[i].idContactos %>
								</td>
								<td>
									<%= contactos[i].nombre %>
								</td>
								<td>
									<%= contactos[i].domicilio %>
								</td>
								<td>
									<%= contactos[i].telefono %>
								</td>
							</tr>
							<% } %>
					</tbody>
					<% } %>
	
			</table>
			<form action="/contactos" method="post">
				<button type="submit" class="btn btn-primary" id="mos">Ver</button>
			</form>
			<form action="/contactos" method="get">
				<button action="/contactos" class="btn btn-secondary"  id="lim">Limpiar</button>
			</form>


				</section></section>


	</body>

	<%-include('partials/footer.html');%>

</html>